extends layout.pug
append scripts
    link(rel="stylesheet", href="/styles/index.css")
    script(src="/scripts/index.js")
block body
    if (authenticated)
        h1 Velkommen #{me.fornavn}
        hr
        h3 Dine opsamlinger:
        #map
        script.

            var dataOpsaml = !{JSON.stringify(opsaml)};

            function initMap() {
                var viby = {lat: 56.162939, lng: 10.203921};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: viby
                });
                var geocoder = new google.maps.Geocoder();
                geocodeAddressOpsaml(geocoder, map);
                geocodeAddressTilmeld(geocoder, map);
            }

            function geocodeAddressOpsaml(geocoder, resultsMap) {

                dataOpsaml.forEach(function (opsaml) {
                    var startP =opsaml.startpunkt;
                    var slutP = opsaml.slutpunkt
                    var tidspunkt = opsaml.tidspunkt;
                    tidspunkt = tidspunkt.substring(11,16) + " " + tidspunkt.substring(8,10) + tidspunkt.substring(4,8) + tidspunkt.substring(0,4)
                    var passagerer = opsaml.passagerer.length;

                    var address = startP;
                    geocoder.geocode({'address': address}, function (results, status) {
                        if (status === 'OK') {
                            var marker = new google.maps.Marker({
                                map: resultsMap,
                                icon:'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                                position: results[0].geometry.location
                            });
                            
                            var contentString = '<div id="content">' +
                                '<p>' + 'Din opsamling' + '<br>' +'Fra: '+  startP + '<br>'+'Til: '+ slutP + '<br>'+'Tidspunkt: '+ tidspunkt + '<br>'+ 'Passagerer: ' + passagerer +'</p>'
                                '</div>';

                            var infowindow = new google.maps.InfoWindow({
                                content: contentString
                            });

                            marker.addListener('click', function () {
                                infowindow.open(map, marker);
                            });

                        } else {
                            alert('Geocode was not successful for the following reason: ' + status);
                        }
                    });

                })
            };

            var dataTilmeld = !{JSON.stringify(tilmeld)};

            function geocodeAddressTilmeld(geocoder, resultsMap) {

                dataTilmeld.forEach(function (tilmeld) {
                    var startP = tilmeld.opsamling.startpunkt;
                    var slutP = tilmeld.opsamling.slutpunkt
                    var tidspunkt = tilmeld.opsamling.tidspunkt;
                    var chauffoer = tilmeld.opsamling.chauffoer.fornavn;



                    var address = startP;
                    geocoder.geocode({'address': address}, function (results, status) {
                        if (status === 'OK') {
                            var marker = new google.maps.Marker({
                                map: resultsMap,
                                position: results[0].geometry.location,
                                icon:'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                            });

                            var contentString = '<div id="content">' +
                                '<p>' + 'Din tilmelding' + '<br>' + 'Fra: ' + startP + '<br>' + 'Til: ' + slutP + '<br>' + 'Tidspunkt: ' + tidspunkt + '<br>' + 'Chauffør: ' + chauffoer + '</p>'
                            '</div>';

                            var infowindow = new google.maps.InfoWindow({
                                content: contentString
                            });

                            marker.addListener('click', function () {
                                infowindow.open(map, marker);
                            });

                        } else {
                            alert('Geocode was not successful for the following reason: ' + status );
                        }
                    });

                })
            };




        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCVfNnp0Z5RF0xjwES0qjgoBuPshS5m7lk&callback=initMap')
        #text    
            if (opsaml)
                form(action="/", method="POST")
                    table#opsamlinger
                        tr.tableinfo
                            td.th Tidspunkt
                            td.th Startpunkt
                            td.th Slutpunkt
                            td.th Antal passagerer
                            td.th Aflys
                        each ops in opsaml
                            tr.opsamlinfo
                                td.tid=ops.tidspunkt
                                td.startP=ops.startpunkt
                                td.slutP=ops.slutpunkt
                                td=ops.passagerer.length
                                if(ops.status)
                                    td: button(type="submit", name="button", value=ops.id) Aflys!
                                else
                                    td.aflys= "Aflyst!!!"

            else
                p ingen registrerede opsamlinger
            hr
            h3 Dine tilmeldinger:
            if (tilmeld)
                table#tilmeldinger
                    tr.tableinfo
                        td.th Tidspunkt
                        td.th Startpunkt
                        td.th Slutpunkt
                        td.th Chauffør
                        td.th Antal Passagerer
                        td.th Status
                    each tilm in tilmeld
                        if(tilm.opsamling.status==true)
                            tr.ok
                                td.tid=tilm.opsamling.tidspunkt
                                td.startP=tilm.opsamling.startpunkt
                                td.slutP=tilm.opsamling.slutpunkt
                                td=tilm.opsamling.chauffoer.fornavn
                                td=tilm.opsamling.passagerer.length
                                td OK
                        else
                            tr.cancelled
                                td.tid=tilm.opsamling.tidspunkt
                                td.startP=tilm.opsamling.startpunkt
                                td.slutP=tilm.opsamling.slutpunkt
                                td=tilm.opsamling.chauffoer.fornavn
                                td=tilm.opsamling.passagerer.length
                                td AFLYST
            else
                p ingen registrerede tilmeldinger

    else
        #landing
            h1 Velkommen til!
            p: a(href="/login") Login
            p: a(href="/opretBruger") Opret bruger