doctype html
html
    head
        title Samkørsels System
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel='stylesheet', href='./styles/layout.css')
        block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    body
        .container
            .col-md-12
                h1 Samkørsel
                style(type='text/css').
                    #linkBar{width: 100%;
                        border-spacing: 2px;

                    }
                    .linkBarEl{
                        border: rgba(0, 0, 0, 0);
                        text-align: center;
                    }

                if(authenticated)
                    ul(id='linkbar')
                        li
                            a(href='/') Forside
                        li
                            a(href='/opretOpsamling') Opret opsamling
                        li
                            a(href='/tilmelding') Tilmeld opsamling
                        li
                            a(href='/opdaterBruger') Opdater bruger
                        li
                            a(href='/opdaterPassword') Opdater password
                        li
                            a(href='/logout') Log ud


                hr
                block body