extends layout.pug
append scripts
    link(rel="stylesheet", href="/styles/login.css")
block body
    if (signupEmail)
        if(err) 
            font(color="red")
                p Login-oplysninger er forkerte
        else 
            p Tillykke med konto-oprettelse! Indtast venligst dine login-oplysninger
    else if (err)
            font(color="red")
                p Login-oplysninger er forkerte
    #login
        form(action="/login", method="POST")
            fieldset
                #window
                    legend Log in
                    p
                        //label Email
                        input.input(name="bruger[email]", type="text", value=signupEmail,placeholder="Email")
                    p
                        //label Password
                        input.input(name="bruger[password]", type="password", placeholder="Password")
                    p
                        button Login
        #knapper
            p
                a(href="/opretBruger") Opret Bruger