extends layout.pug
block body
    form(action="/opdaterPassword", method="post")
        if (authenticated)
            table
                tr
                    td Nuværende password
                    td: input(name="bruger[password]", type="password")
                tr
                    td Nyt password
                    td: input(name="bruger[newPass]", type="password")
                tr
                    td Gentag password
                    td: input(name="bruger[confPass]", type="password")
            button Submit