extends layout.pug
append scripts
	link(rel="stylesheet", href="/styles/opretBruger.css")
block body
	form(action="/opretBruger", method="POST")
		fieldset
			legend Opret Bruger
			table(id='opretBTabel')
				tr
					td: label E-mail
					td: input(name="bruger[email]", type="text", value=email)
					td
						if (errors != null && errors.email != null)
							font(color="red")
								label=(errors.email.kind == 'user defined') ? errors.email.message : errors.email.kind
				tr
					td: label Fornavn
					td: input(name="bruger[fornavn]", type="text", value=fornavn)
					td
						if (errors != null && errors.fornavn != null)
							font(color="red")
								label=(errors.fornavn.kind == 'user defined') ? errors.fornavn.message : errors.fornavn.kind
				tr
					td: label Efternavn
					td: input(name="bruger[efternavn]", type="text", value=efternavn)
					td
						if (errors != null && errors.efternavn != null)
							font(color="red")
								label=(errors.efternavn.kind == 'user defined') ? errors.efternavn.message : errors.efternavn.kind
				tr
					td: label Adresse
					td: input(name="bruger[adresse]", type="text", value=adresse)
					td
						if (errors != null && errors.adresse != null)
							font(color="red")
								label=(errors.adresse.kind == 'user defined') ? errors.adresse.message : errors.adresse.kind

				tr
					td: label Postnr.
					td: input(name="bruger[postnr]", type="text", value=postnr)
					td
						if (errors != null && errors.postnr != null)
							font(color="red")
								label=(errors.postnr.kind == 'user defined') ? errors.postnr.message : errors.postnr.kind
				tr
					td: label Telefonnummer
					td: input(name="bruger[telefonnummer]", type="text", value=telefonnummer)
					td
						if (errors != null && errors.telefonnummer != null)
							font(color="red")
								label=(errors.telefonnummer.kind == 'user defined') ? errors.telefonnummer.message : errors.telefonnummer.kind

				tr
					td: label Password
					td: input(name="bruger[password]", type="password")
					td
						if (errors != null && errors.password != null)
							font(color="red")
								label=(errors.password.kind == 'user defined') ? errors.password.message : errors.password.kind
			p
				button Opret
			p
				a(href="/") Tilbage