extends layout.pug
append scripts
    link(rel="stylesheet", href="/styles/opsamling.css")
    script(src="/scripts/opsamlingMap.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVfNnp0Z5RF0xjwES0qjgoBuPshS5m7lk&libraries=places&callback=initAutocomplete",async,defer)
block body
    #map
    input(id="pac-input" class="controls" type="text" placeholder="Search Box")
    form(action="/opretopsamling", method="POST", id="oForm")
        fieldset
            legend Ny opsamling
            p
                label(class='addrLabel') Start adresse: 
                label(id='startPosLa')
                input(name='opsamling[startpunkt]', id='startPos', type="text", value=startP, readonly,hidden)
                if(startP!=null&&errors.startpunkt!=null)
                    label(class='errLabel',name="startErr")= " " + errors.startpunkt.kind
            p
                label(class='addrLabel') Slut adresse:
                label(id='slutPosLa') 
                input(name='opsamling[slutpunkt]', id='slutPos', type="text", value=slutP, readonly,hidden)
                if(slutP!=null&&slutP.length==0)
                    label(class='errLabel',name="slutErr")= " " + errors.slutpunkt.kind
            p
                label Start tidspunkt: 
                input(id='shiftInput',name='opsamling[tidspunkt]', type="datetime-local", value=tidP)
                if(tidP!=null&&tidP.length==0)
                    p(class='errLabel'): Label(name="tidErr")= " " + errors.tidspunkt.kind
            p
                label Antal Passagerer:
                input(name='opsamling[passagerMax]', type='text', value=pMax)
                if(pMax!=null && pMax.length==0)
                    p(class='errLabel'): label(name='maxErr')= " " + errors.passagerMax.kind
            p
                button Opret