extends layout.pug
append scripts
    link(rel="stylesheet", href="/styles/tilmelding.css")
    script(src="/scripts/tilmelding.js")
    script(src="/scripts/tilmeldingMap.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVfNnp0Z5RF0xjwES0qjgoBuPshS5m7lk&callback=initMap",async,defer)
block body
        legend Tilmeld Opsamling
        #map
        ul.opsaml
            each opsamling in opsamlinger
                li
                    form(action="/tilmelding/"+opsamling.id ,method="POST")
                        fieldset
                            p#start="Startpunkt: "+ opsamling.startpunkt
                            p#slut="Slutpunkt: "+opsamling.slutpunkt
                            #info
                                input(type="hidden", name="opsamling[id]",value=opsamling._id)
                                p#tid Tidspunkt: #{opsamling.tidspunkt}
                                p Chauffør: #{opsamling.chauffoer.fornavn}
                                button(type="submit") Tilmeld