#map {
    height: 30em;
    width: 50%;
    float: right;
}
#text{
    width: 49%;
    float: left;
}
.opsamlinfo{
    border:1px solid black;
}
.opsamlinfo > td{
    padding:5px;
}
.ok{
    border:1px solid black;
}
.ok > td{
    padding:5px;
}
.cancelled{
    border:1px solid black;
}
.cancelled > td{
    padding: 5px;
}
#opsamlinger > tr{
    border:1px solid black;
}
#tilmeldinger > tr {
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: lightgray;
}
.tableinfo{
    border:1px solid black;
}
.th{
    font-weight: bold;
    padding:5px;
}
.container{
    height: 100%;
}
.col-md-12{
    height:100%;
}
#landing {
    position: relative;
    float: left;
    left: 40%;
    bottom: -30%;
    font-size: xx-large;
}
html, body {
    height: 100%;
} 