body {
    background-image: url("../images/road.jpeg");
}

*{
    font-family: "Helvetica";
}
body > * {

    opacity: 20;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);



}

ul {

}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

li:last-child {
    border-right: none;
    float: right;
}