.container{
    height: 100%;
}
.col-md-12{
    height:100%;
}
#login{
    border: 25px solid rgba(212, 212, 206, .2);
    border-radius: 25px;
    background: rgba(212, 212, 206, 0.5);
    position: relative;
    float: left;
    left: 35%;
    bottom: -15%;
}
.input{
    position: relative;
    border-radius: 5px;
    width:100%;
    padding:10px;
    margin:2px;
}
#window{
    position: relative;
    float: left;
}
#window > p >button {
    width:100%;
    padding:5px 2px 5px 2px;
    margin: 2px;
    text-align: center;
}
#knapper > p {
    width: 100%;
}
#knapper > p > a{
    display: block;
    position: relative;
    padding: 5px 2px 5px 2px;
    margin: 2px;
    width: 100%;
    text-align: center;
    font-size: large;
}
html,body{
    height: 100%;
}