#map{
    height: 30em;
    width: 70%;
    margin: 10px;
    float: right;
}
#pac-input{
    float: right;
    width: 18em;
    height: 3em;
}
#startPos{
    background: transparent;
    border: none;
    width: 14em;
}
#slutPos{
    background: transparent;
    border: none;
    width: 14em;
}

.addrLabel{
    margin-right: 1em;
}

#shiftInput{
	margin-left: 1em;
}
.errLabel{
	color: red;
	text-align: right;
}