#map{
    height: 30em;
    width: 45em;
    margin: 0 10px 0 10px;
    float: right;
}
.opsamlinger{
    text-align: center;
}
#info{
    margin:10px;
}
#info > p {
    color: #d2dad2;
}
.opsaml > li {
    width:100%;
    border: 1px solid black;
    padding-top: 2px;
    margin: 5px 5px 5px 0;
}
#start {
    text-align: center;
    color:#dddddd;
}
#slut {
    text-align: center;
    color:#dddddd;
}
form{
    width:100%;
}
fieldset{
    width:100%;
}